<h2>Edit Grade</h2>
<h4><%= @grade.subject.name %></h4>
<h4><%= @grade.student.name %></h4>

<% if @grade.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grade.errors.count, "error") %> prohibited this grade from being saved:</h2>

      <ul>
      <% @grade.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @grade do |f| %>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.number_field :value, autofocus: true, step: 0.5, min: 2, max: 5 %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit "Confirm", class: 'btn btn-success btn-sm', role: 'button' %>
  </div>
  <%= link_to 'Back', subject_path(current_user.subject.id), class: 'btn btn-danger btn-sm', role: 'button' %>
  <%= link_to 'Destroy',  grade_path(@grade),
         method: :delete, class: 'btn btn-danger btn-sm', role: 'button',
         data: { confirm: "Delete this grade?"} %>
<% end %>
