<div class="container">
  <h1>Subjects</h1>
  <div class="row">
    <% @subjects.each do |subject| %>
      <p><%= subject.name %>
      <% unless subject.teacher.nil?%>
        <b><%= subject.teacher.name%></b>
      <% end %>
      <%= link_to 'Edit subject', edit_subject_path(subject.id), class: 'btn btn-success btn-sm', role: 'button' %>
      </p><br/>
    <% end %>
    <%= link_to 'Add Subject', new_subject_path, class: 'btn btn-primary btn-sm', role: 'button'  %>
    <%= link_to 'Back', root_path, class: 'btn btn-danger btn-sm', role: 'button' %>
  </div>
</div>
